.itemName {
  font-size: 30px;
}



.itemImage {
  margin: 0 auto;
  max-width: 80%;
}

.imgContainer{
  margin: 0 auto;
  margin-top: 5vh;
  padding: 8px;
  max-width: 80%;
}

.textContainer {
  margin: 0 auto;
  max-width: 95%;
  /* box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2); */
}

@media screen and (max-width: 375px) {
  .itemImg{
    width: 100vw;
    height: 400px;
  }
  .imgContainer{
    margin: 0;
    padding: 0;
    width: 100px;
  }
  .textContainer {
    margin-bottom: 35px;
  }
}