
img {
  margin: 3px;
  width: 100%;

  overflow: cover;
}

.name{
display: flex;
font-size: 18px;
}

.price{
  display: flex;
}

.link {
  text-decoration: none;
  max-height: 400px;
}

.container{
  max-width: 250px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 20vh;
  background-color: white;
  border: 2px black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 8px;
}